@import './normalize';


.job-item{
    .saved-job {
      background-color: rgb(255, 224, 122);
      display: flex;
    }
    
    .applied-job {
      background-color: rgb(246, 255, 122);
      display: flex;
    }
    
    .first-interview {
      background-color: rgb(208, 255, 122);
      display: flex;
    }
    
    .second-interview {
      background-color: rgb(122, 255, 122);
      display: flex;
    }
    
    .third-plus-interview {
      background-color: rgb(33, 224, 112);
      display: flex;
    }

    .job-details-div{
        display: flex;

        & h5, p {
            margin: 0px 0px;
        }

        .notes-div{
            display: flex;
        }
    }
}


