
.saved-job {
    background-color: rgb(255, 224, 122);
}

.applied-job {
    background-color: rgb(246, 255, 122);
    
}

.first-interview {
    background-color: rgb(208, 255, 122);
    
}

.second-interview {
background-color: rgb(122, 255, 122);

}

.sthird-plus-interview {
background-color: rgb(33, 224, 112);

}